.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-button {
    background-color: $white;
    color: $text-color;
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
    border: 1px solid $border-color;
    border-radius: 0.3rem;
    cursor: pointer;
    min-width: 180px;
    @include flex-between;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $item-hover-bg;
    }

    // Add a simple arrow
    &::after {
      content: "▼";
      font-size: 0.7rem;
      margin-left: 0.2rem;
    }
  }

  .dropdown-list {
    display: none; // Hidden by default
    position: absolute;
    background-color: $white;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid $border-color;
    border-radius: 0.3rem;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    max-height: 200px;
    overflow-y: auto;

    li {
      color: $text-color;
      padding: 0.8rem 1rem;
      text-decoration: none;
      display: block;
      cursor: pointer;
      font-size: 0.8rem;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $item-hover-bg;
      }
    }
  }

  &.open {
    .dropdown-list {
      display: block;
    }
    .dropdown-button::after {
      content: "▲";
    }
  }
}
