.navbar {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: $spacing-md $spacing-xl;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    padding: $spacing-sm $spacing-md;
    flex-wrap: wrap;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-color;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .navbar-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    @include tablet {
      gap: 1rem;
    }

    .navbar-menu-container {
      display: flex;
      align-items: center;
      gap: 2rem;
      @include tablet {
        gap: 1rem;
      }
    }
    .navbar-menu {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      @include mobile {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white;
        padding: 0.5rem;
        box-shadow: 0px -5px 20px 20px rgba(0, 0, 0, 0.1);
        z-index: 100;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: unset;
      }

      .nav-item {
        text-decoration: none;
        color: $black;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        transition: color 0.3s ease;
        white-space: nowrap;
        font-weight: 700;
        @include mobile {
          flex-direction: column;
          gap: 0.4rem;
        }
        &:hover {
          color: $secondary-color;
        }

        &.active {
          color: $secondary-color;
        }

        i {
          font-size: 1.1rem;
          @include mobile {
            font-size: 1.4rem;
          }
        }
      }
    }

    .navbar-auth {
      display: flex;
      gap: 1rem;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
