.create-list-page {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  @include mobile{
    padding: 1rem;
  }
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: $black;
  }
}

.create-list-form {
  background: $white;
  border-radius: 8px;
  
  .items-section {
    margin-top: 2rem;

    .section-header {
      @include flex-between;
      margin-bottom: 1rem;
    }

    .items-container {
      @include flex-column;
      gap: 1rem;
    }

    .item-card {
      border-radius: 8px;
      padding: 1rem 1.5rem;
      position: relative;
      @include mobile{
        padding: 0.5rem;
      }
      .item-header {
        @include flex-between;
        margin-bottom: 1rem;

        .item-controls {
          display: flex;
          gap: 0.5rem;
        }

        .item-number {
          font-weight: 500;
          color: $black;
        }
      }

      .item-fields {
        @include flex-column;

        .item-quantity {
          @include grid;
          gap: 1rem;
        }
        .quantity-controls{
          display: grid;
          grid-template-columns: auto auto auto;
          grid-gap: 0.3rem;
        }
      }
    }
  }

  .form-actions {
    @include flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.error-message {
  background: $danger-color;
  color: $white;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  text-align: center;
}