.create-list-page {
  max-width: 800px;
  margin: $spacing-xl auto;
  padding: $spacing-lg;
  @include card;
  @include mobile {
    padding: 1rem;
  }
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: $black;
  }
}
