.home-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  @include mobile {
    padding: 2rem 0 5.5rem;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    @include mobile {
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
    }
    h1 {
      margin: 0;
      color: $black;
    }
    .page-header-right {
      @include flex-center;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    select {
      padding: 0.8rem;
      border: 1px solid $primary-color;
      border-radius: 5px;
      background-color: $white-f5;
      font-size: 0.8rem;
      cursor: pointer;
      &:focus {
        outline: none;
        box-shadow: $shadow-md;
      }
      option {
        padding: 1rem;
        background-color: $white-f5;
        font-size: 0.8rem;
      }
    }
  }

  .error-message {
    background-color: rgba($danger-color-light, 0.1);
    color: $danger-color-light;
  }

  .empty-state {
    text-align: center;
    padding: 3rem;
    background-color: $surface-secondary;
    border-radius: 8px;
    margin: 2rem 0;

    p {
      color: $text-secondary;
      margin-bottom: 1.5rem;
    }

    .btn-create {
      margin: auto;
    }
  }

  .lists-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
    @include tablet {
      grid-template-columns: 1fr;
    }
    .list-card {
      background-color: $white;
      border-radius: 0.8rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1.3rem;
      transition: transform 0.4s, box-shadow 0.2s;
      cursor: pointer;
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba($primary-color, 0.3);
      }

      .status {
        position: relative;
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0.5rem;
          height: 0.5rem;
        }
        &.completed {
          color: $state-done;
        }
        &.ongoing {
          color: $state-on;
        }
        &.new {
          color: $state-new;
        }
      }
      .list-actions {
        @include flex-end;
      }
    }
  }
}
