.gabarit-page {
  @include mobile {
    padding: 0 1rem 1rem;
  }
  .gabarit-header {
    @include mobile {
      padding: 1rem 0;
      position: sticky;
      top: 0;
      left: 0;
      background: $white-f5;
      z-index: 5;
    }
  }
  .gabarit-top {
    display: grid;
    grid-template-columns: calc(75% - 1rem) 25%;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    @include mobile {
      grid-template-columns: 1fr auto;
      margin-bottom: 0;
      background: $white-f5;
    }
    .btn {
      @include mobile {
        padding: 0rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        i {
          font-size: 2rem;
        }
      }
      span {
        @include mobile {
          display: none;
        }
      }
    }
  }
  .gabarit-search {
    margin-bottom: 2rem;
    @include mobile {
      margin-bottom: 0;
      margin-top: 1.5rem;
    }
    input {
      padding: 0.7rem 1rem;
      width: 100%;
      border-radius: 4px;
      border: none;
      background-color: rgba($grey, 0.3);
      transition: all $transition-normal;
      &:focus {
        outline: none;
        box-shadow: none;
        background-color: rgba($primary-color, 0.7);
        color: $white;
        &::placeholder {
          color: $white;
        }
      }
      &::placeholder {
        color: $text-secondary;
        font-style: italic;
      }
    }
  }
  .title-h2 {
    margin-bottom: 1.5rem;
    @include mobile {
      margin-bottom: 1rem;
    }
  }
  .gabarit-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include mobile {
      grid-gap: 0.8rem;
      padding-left: 0.2rem;
    }
    .gabarit-null {
      font-size: 1.1rem;
      color: $text-secondary;
    }
    &.gabarit-choice {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .gabarit-item {
    position: relative;
    @include flex-start;
    gap: 1.5rem;
    @include mobile {
      gap: 1rem;
    }
    .gabarit-item-img {
      width: 10rem;
      height: 10rem;
      @include mobile {
        width: 5rem;
        height: 5rem;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
    &.styleImg {
      width: auto;
      height: 10rem;
      box-shadow: $shadow-md;
      border-radius: 1rem;
      .gabarit-item-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .gabarit-item-info {
        z-index: 2;
        @include flex-center;
        align-self: end;
        padding: 1rem;
        .title-h2 {
          color: $text-secondary;
        }
      }
      input[type="checkbox"] {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
      }
    }
  }

  .gabarit-form {
    .form-group {
      margin-bottom: 1rem;
    }
    .form-group-button {
      display: grid;
      justify-content: flex-end;
      grid-template-columns: repeat(2, 20rem);
      grid-gap: 1rem;
      position: sticky;
      bottom: 0;
      padding: 1rem 0;
      @include mobile {
        background: $white-f5;
        grid-template-columns: repeat(2, 1fr);
        bottom: 4.7rem;
        left: 0;
      }
    }
    .preview-img {
      width: 20rem;
      height: 20rem;
      margin-top: 1rem;
      @include mobile {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
    .dropzone {
      position: relative;
      border: 2px dashed $secondary-color;
      border-radius: 0.3rem;
      padding: 2rem 1.5rem;
      text-align: center;
      cursor: pointer;
      transition: border-color 0.3s ease, background-color 0.3s ease;
      @include flex-center;

      input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      .dropzone-file-value {
        font-size: 0.9rem;
        color: $secondary-color;
        margin-bottom: 0.2rem;
        word-break: break-word;
      }
      .dropzone-text {
        font-size: 0.9rem;
        color: $text-color;
        margin-bottom: 0.3rem;

        strong {
          color: $secondary-color;
        }
      }

      .dropzone-format {
        font-size: 0.7rem;
        color: $text-secondary;
      }

      &:hover {
        border-color: $secondary-color;
        background-color: rgba($grey, 0.5);
      }

      &.is-dragging {
        border-style: solid;
        border-color: $primary-color;
        background-color: rgba($grey, 0.5);
      }
    }
    .create-list-form {
      background: $white;
      border-radius: 8px;
    }
    .items-section {
      margin-top: 2rem;

      .section-header {
        @include flex-between;
        margin-bottom: 1rem;
      }

      .items-container {
        @include flex-column-reverse;
        gap: 1rem;
      }

      .item-card {
        border-radius: 8px;
        padding: 1rem 1.5rem;
        position: relative;
        @include mobile {
          padding: 0.5rem;
        }
        .item-header {
          @include flex-between;
          margin-bottom: 1rem;

          .item-controls {
            display: flex;
            gap: 0.5rem;
          }

          .item-number {
            font-weight: 500;
            color: $black;
          }
        }

        .item-fields {
          @include flex-column;

          .item-quantity {
            @include grid;
            gap: 1rem;
          }
          .quantity-controls {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 0.3rem;
          }
        }
      }
    }
  }
  &.gabarit-add {
    .gabarit-top {
      @include flex-between;
      @include mobile {
        align-items: start;
      }
      .icon-clear {
        display: none;
        @include mobile {
          display: block;
        }
      }
      .icon-arrow-left {
        @include mobile {
          display: none;
        }
      }
      span {
        @include mobile {
          display: none;
        }
      }
      .btn {
        @include mobile {
          width: auto;
          height: auto;
          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
