.gabarit-page {
  .gabarit-top {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 1rem;
    .btn-primary {
      span {
        @include mobile {
          display: none;
        }
      }
    }
  }
  .title-h2 {
    margin-bottom: 1.5rem;
  }
  .gabarit-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include mobile {
      grid-gap: 0.8rem;
    }
  }
  .gabarit-item {
    @include flex-start;
    gap: 1.5rem;
    @include mobile {
      gap: 1rem;
    }
    .gabarit-item-img {
      width: 10rem;
      height: 10rem;
      @include mobile {
        width: 5rem;
        height: 5rem;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
}
