.gabarit-page {
  @include mobile {
    padding: 1rem;
  }
  .gabarit-top {
    display: grid;
    grid-template-columns: calc(75% - 1rem) 25%;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    @include mobile {
      grid-template-columns: 1fr auto;
      margin-bottom: 1.5rem;
    }
    .btn {
      @include mobile {
        padding: 0rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        i {
          font-size: 2rem;
        }
      }
      span {
        @include mobile {
          display: none;
        }
      }
    }
  }
  .gabarit-search {
    margin-bottom: 2rem;
    input {
      padding: 0.7rem 1rem;
      width: 100%;
      border-radius: 4px;
      border: none;
      background-color: rgba($grey, 0.3);
      transition: all $transition-normal;
      &:focus {
        outline: none;
        box-shadow: none;
        background-color: rgba($primary-color, 0.7);
        color: $white;
        &::placeholder {
          color: $white;
        }
      }
      &::placeholder {
        color: $text-secondary;
        font-style: italic;
      }
    }
  }
  .title-h2 {
    margin-bottom: 1.5rem;
    @include mobile {
      margin-bottom: 1rem;
    }
  }
  .gabarit-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include mobile {
      grid-gap: 0.8rem;
      padding-left: 0.2rem;
    }
    .gabarit-null {
      font-size: 1.1rem;
      color: $text-secondary;
    }
  }
  .gabarit-item {
    @include flex-start;
    gap: 1.5rem;
    @include mobile {
      gap: 1rem;
    }
    .gabarit-item-img {
      width: 10rem;
      height: 10rem;
      @include mobile {
        width: 5rem;
        height: 5rem;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  .gabarit-form {
    .form-group {
      margin-bottom: 1rem;
    }
    .form-group-button {
      display: grid;
      justify-content: flex-end;
      grid-template-columns: repeat(2, 20rem);
      grid-gap: 1rem;
      position: sticky;
      bottom: 0;
      padding: 1rem 0;
      @include mobile {
        background: $white-f5;
        grid-template-columns: repeat(2, 1fr);
        bottom: 4.7rem;
        left: 0;
      }
    }
    .preview-img {
      width: 20rem;
      height: 20rem;
      margin-top: 1rem;
      @include mobile {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
    .dropzone {
      position: relative;
      border: 2px dashed $secondary-color;
      border-radius: 0.3rem;
      padding: 2rem 1.5rem;
      text-align: center;
      cursor: pointer;
      transition: border-color 0.3s ease, background-color 0.3s ease;
      @include flex-center;

      input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      .dropzone-file-value {
        font-size: 0.9rem;
        color: $secondary-color;
        margin-bottom: 0.2rem;
      }
      // Text inside the dropzone
      .dropzone-text {
        font-size: 0.9rem;
        color: $text-color;
        margin-bottom: 0.3rem;

        strong {
          color: $secondary-color;
        }
      }

      .dropzone-format {
        font-size: 0.7rem;
        color: $text-secondary;
      }

      &:hover {
        border-color: $secondary-color;
        background-color: rgba($grey, 0.5);
      }

      &.is-dragging {
        border-style: solid;
        border-color: $primary-color;
        background-color: rgba($grey, 0.5);
      }
    }
  }
}
