.gabarit-page {
  .gabarit-top {
    display: grid;
    grid-template-columns: calc(75% - 1rem) 25%;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    .btn-primary {
      span {
        @include mobile {
          display: none;
        }
      }
    }
  }
  .gabarit-search {
    margin-bottom: 2rem;
    input {
      padding: 0.7rem 1rem;
      width: 100%;
      border-radius: 4px;
      border: none;
      background-color: rgba($grey, 0.3);
      transition: all $transition-normal;
      &:focus {
        outline: none;
        box-shadow: none;
        background-color: rgba($primary-color, 0.7);
        color: $white;
        &::placeholder {
          color: $white;
        }
      }
      &::placeholder {
        color: $text-secondary;
        font-style: italic;
      }
    }
  }
  .title-h2 {
    margin-bottom: 1.5rem;
  }
  .gabarit-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include mobile {
      grid-gap: 0.8rem;
    }
    .gabarit-null {
      font-size: 1.1rem;
      color: $text-secondary;
    }
  }
  .gabarit-item {
    @include flex-start;
    gap: 1.5rem;
    @include mobile {
      gap: 1rem;
    }
    .gabarit-item-img {
      width: 10rem;
      height: 10rem;
      @include mobile {
        width: 5rem;
        height: 5rem;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
}
