.gabarit-page {
  .gabarit-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .gabarit-item {
    @include flex-start;
    gap: 1.5rem;
    .gabarit-item-img {
    }
    img {
      width: 20rem;
      height: auto;
      border-radius: 2rem;
    }
  }
}
