.btn {
  @include flex-center;
  border: none;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
  letter-spacing: 0.05rem;
  text-decoration: none;
  i {
    font-size: 1.1rem;
  }

  &:disabled {
    opacity: 0.7;
    background: $text-secondary;
    cursor: not-allowed;
    &:hover {
      background: $text-secondary;
    }
  }
  &.btn-small {
    padding: 0.5rem 1rem;
  }
  &.btn-logout {
    background: none;
    color: $danger-color;
    .nav-icon {
      font-size: 1.2rem;
    }
    &:hover {
      background-color: $danger-color;
      color: $white;
    }
  }
  &.btn-nav {
    background: none;
    padding: 0;
    color: $text-secondary;
    position: relative;
    @include flex-center;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background: $text-secondary;
      bottom: 0;
      left: 0;
      transition: all 0.4s ease;
    }
    .nav-icon {
      font-size: 1.2rem;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
  &.btn-dashed {
    border: 2px dashed $secondary-color;
    background: transparent;
    color: $secondary-color;
    &:hover {
      background-color: $secondary-color;
      color: $white;
    }
  }
  &.btn-primary {
    background-color: $primary-color;
    color: $white;
    &:hover {
      background-color: $secondary-color;
    }
  }
  &.btn-secondary {
    background-color: $secondary-color;
    color: $white;
    &:hover {
      background-color: rgba($secondary-color, 0.8);
    }
  }
  &.btn-danger {
    background-color: $danger-color;
    color: $white;
    &:hover {
      background-color: rgba($danger-color, 0.8);
    }
  }
  &.btn-success {
    background-color: $success-color;
    color: $white;
  }
  &.btn-cancel {
    background-color: $surface-secondary;
    color: $black;
    &:hover {
      background-color: rgba($surface-secondary, 0.8);
    }
  }
  &.btn-outline-primary {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
  &.btn-icon {
    @include flex-center;
    font-size: 1.1rem;
    padding: 0.3rem;
    i {
      font-size: 1rem;
    }
    &.btn-danger {
      background: rgba($danger-color, 0.2);
      color: $danger-color;

      &:hover {
        background-color: $danger-color;
        color: $white;
      }
    }
    &.btn-close {
      background: rgba($black, 0.2);
      color: $black;
      &:hover {
        background-color: $surface-hover;
      }
    }
  }
}
